Q1. Pearson correlation coefficient is a measure of the linear relationship between two variables. Suppose
you have collected data on the amount of time students spend studying for an exam and their final exam
scores. Calculate the Pearson correlation coefficient between these two variables and interpret the result.

In [ ]:
import pandas as pd
import random

# Create mock data
num_students = 50
study_times = [random.randint(1, 10) for _ in range(num_students)]  # Study time in hours
final_scores = [random.randint(60, 100) for _ in range(num_students)]  # Exam scores

# Create a DataFrame
data = {
    'Study Time (hours)': study_times,
    'Final Exam Score': final_scores
}

df = pd.DataFrame(data)

In [3]:
# Finding the pearson correlation btwn these two columns 
df.corr( method='pearson')

                    Study Time (hours)  Final Exam Score
Study Time (hours)            1.000000         -0.085678
Final Exam Score             -0.085678          1.000000

In [ ]:
# Here negative correlated means that student are study for less time due to which their scores is going to decreased.

Q2. Spearman's rank correlation is a measure of the monotonic relationship between two variables.
Suppose you have collected data on the amount of sleep individuals get each night and their overall job
satisfaction level on a scale of 1 to 10. Calculate the Spearman's rank correlation between these two
variables and interpret the result.

In [6]:
df = pd.DataFrame({

    'sleep': [7, 10, 4, 15, 12, 10, 2, 4 ],
    'satisfaction_level': [ 8, 8, 3, 9, 8, 8, 1, 2 ]
})


## Finding the relationship using the spearman's rank correlation coefficient
df.corr( method='spearman' )

# The more he takes sleep his statisfication level is also high

                       sleep  satisfaction_level
sleep               1.000000            0.937131
satisfaction_level  0.937131            1.000000

Q3. Suppose you are conducting a study to examine the relationship between the number of hours of
exercise per week and body mass index (BMI) in a sample of adults. You collected data on both variables
for 50 participants. Calculate the Pearson correlation coefficient and the Spearman's rank correlation
between these two variables and compare the results.

In [ ]:
import pandas as pd
import random

# Create mock data
num_participants = 50
exercise_hours = [random.randint(1, 15) for _ in range(num_participants)]  # Exercise hours per week
bmi_values = [round(random.uniform(18.5, 40), 2) for _ in range(num_participants)]  # BMI values

# Create a DataFrame
data = {
    'Exercise Hours per Week': exercise_hours,
    'BMI': bmi_values
}

df = pd.DataFrame(data)

In [8]:
## Perason 
df.corr()

                         Exercise Hours per Week       BMI
Exercise Hours per Week                 1.000000  0.026188
BMI                                     0.026188  1.000000

In [9]:
df.corr( method='spearman' )

                         Exercise Hours per Week       BMI
Exercise Hours per Week                 1.000000  0.012168
BMI                                     0.012168  1.000000

Q4. A researcher is interested in examining the relationship between the number of hours individuals
spend watching television per day and their level of physical activity. The researcher collected data on
both variables from a sample of 50 participants. Calculate the Pearson correlation coefficient between
these two variables.

In [18]:
import numpy as np
import pandas as pd

In [28]:
n = 50 

television_watch =   np.random.randint( low = 1, high = 15, size= n,  ) 

physical_actvity =  np.random.randint( low = 1, high = 5, size = n ) 

df = pd.DataFrame({
    'Television_watch': television_watch,
    'Physical_actvity': physical_actvity
})

In [29]:
df.corr()

                  Television_watch  Physical_actvity
Television_watch           1.00000           0.12844
Physical_actvity           0.12844           1.00000

Q6. A company is interested in examining the relationship between the number of sales calls made per day
and the number of sales made per week. The company collected data on both variables from a sample of
30 sales representatives. Calculate the Pearson correlation coefficient between these two variables.

In [35]:
# Sample data (replace with your actual data)
sales_calls_per_day = [10, 15, 8, 12, 20, 18, 6, 9, 14, 11, 16, 13, 17, 10, 14, 12, 15, 19, 9, 7, 10, 12, 14, 13, 11, 8, 16, 20, 18, 13]
sales_per_week = [2, 3, 2, 2, 4, 3, 1, 2, 3, 2, 3, 2, 3, 2, 3, 2, 3, 4, 2, 1, 2, 2, 3, 3, 2, 2, 3, 4, 4, 3]


df = pd.DataFrame({
    'Sales_per_day': sales_calls_per_day,
    'Sales_per_week': sales_per_week
})

In [37]:
df.head()

   Sales_per_day  Sales_per_week
0             10               2
1             15               3
2              8               2
3             12               2
4             20               4

In [38]:
df.corr()

                Sales_per_day  Sales_per_week
Sales_per_day        1.000000        0.927143
Sales_per_week       0.927143        1.000000